:root {
    scroll-behavior: unset;
}

body {
    color: #bfc1c8 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    background: #1e202b;
}

/* loading */

#loading{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #1e202b;
}

.sk-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }
  
  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

/* navbar */

.navbar {
    background-color: #1e202bb9 !important;
}

.navbar-collapse {
    -webkit-box-flex: unset;
    -ms-flex-positive: unset;
    flex-grow: unset;
}

.navbar-brand img {
    width: 60px;
    margin-right: 10px;
}

.navbar-brand p {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
    color: #fff !important;
}

.navbar-brand small {
    font-size: .7rem;
    font-weight: 600;
    color: #fff !important;
}

.nav-link {
    border: 2px solid transparent;
    color: #fff !important;
    -webkit-transition: color .5s, border .5s;
    -o-transition: color .5s, border .5s;
    transition: color .5s, border .5s;
}

.nav-link.active, .nav-link:hover {
    color: rgb(0, 154, 216) !important;
    border: 2px solid rgb(0, 154, 216);
}

.navbar-toggler {
    border-color: transparent !important;
    border: solid 2px;
    border-radius: 50%;
    padding: 10px;
}

.navbar-toggler-icon {
    background-image: unset !important;
}

.navbar-toggler-icon i {
    color: #fff;
}

.navbar-toggler:focus {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.navbar-toggler:hover {
    border-color: rgb(0, 154, 216) !important;
}

@media screen and (max-width:992px) {
    .navbar-nav {
        background-color: #262936 !important;
        border-radius: 10px;
    }
    .nav-link.active, .nav-link:hover {
        border-color: transparent;
    }
    .bord {
        border-bottom: solid .1px rgba(255, 255, 255, 0.171);
    }
}

/* home */

#home{
    width: 100%;
    height: 100vh;
    background-image: url(../img/Dinner+Recipes.jpg);
    background-position: center center;
    background-size: cover;
}

#home h1{
    color: rgb(0, 154, 216);
}

/* about */

.source{
    transition: color .5s;
}

.recipe{
    transition: transform .5s;
}

.recipe:hover{
    transform: translateY(-5%);
}

.source:hover{
    color: rgb(177, 0, 0) !important;
}

.modal-content{
    background-image: url(../img/Pepper\ Gourmet\ Seasoning\ Spice.jpg);
    background-position: center center;
    background-size: cover;
    color: #fff !important;
}

.btn-close{
    background-image: unset;
    opacity: 1;
}

.btn-close:hover{
    color: red !important;
}

.title {
    min-height: 50px;
}

.content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.content a {
    color: #fff;
}

.content a:hover, .content a:focus {
    color: #fff;
}

.content img {
    height: 250px !important;
    border-radius: 4px;
}

.modal-body img {
    height: 250px !important;
    border-radius: 4px;
}

/* footer */

footer {
    background-image: url(../img/top-view-assortment-delicious-raw-spices.jpg);
    background-position: center center;
    background-size: cover;
}

footer a {
    text-decoration: none;
}

footer a div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1e202b;
    color: #009ad8;
    -webkit-transition: background-color .5s, color .5s;
    -o-transition: background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
}

footer a div:hover {
    background-color: #009ad8;
    color: #fff;
}

.sub{
    transform: translateY(-50%);
}

@media screen and (max-width:768px) {
    footer p {
        text-align: center;
    }
}